<section class="product__container">
    <div class="product-image__container">
        <img src="produto?.imagem" alt="">
    </div>
    <div>
        <h2 class="product__name"> {{produto?.descricao}}</h2>
        <h3 class="product__price"> {{produto?.preco | currency:"BRL"}}</h3>
        <p class="product-deion__container ">Estoque disponível</p>
        <label class="product__avaiability" for="">
            Quantidade:
            <input type="number" [(ngModel)]="quantidade" min="1">
            unidade(s)
        </label>
        <p>
           {{produto?.quantidadeEstoque}}unidade(s)
        </p>
        <button (click)="adicionaraoCarrinho()">Adicionar ao Carrinho</button>
    </div>
</section>
