<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic ratione similique mollitia, dolorem fugiat beatae, quibusdam, omnis reiciendis perferendis ex quia quod saepe! Deleniti commodi, libero necessitatibus omnis beatae odit?</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@mail.com</li>
                <li><i class="fa-solid fa-phone"></i> 2233-1133</li>
                <li><i class="fa-brands fa-whatsapp"></i> 2233-1133</li>
            </ul>
        </address>
    </div>

    <section class="footer__copyrightfooter__copyright">
        &copy; Todos os direitos reservados a mim mesma.
    </section>
</footer>